*
!pages
!pages/**
!panels
!panels/**
!config
!config/**
!public
!public/**
!README.md
!.github
!.github/**
!src
!src/**
!.nvmrc
!package.json
!package-lock.json
!index.html
!vite.config.js
!tailwind.config.cjs
!postcss.config.cjs
!.eslintrc.cjs
!jsconfig.json
!server.js
config/**/*.development.yml
node_modules/
dist/
!tools
!tools/**
tools/moult_visualization.png