@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital,wght@0,400;1,400&display=swap');
@import '@/assets/css/vars.css';
@import '@/assets/css/tailwind.css';
@import 'leaflet/dist/leaflet.css';
@import '@/assets/css/leaflet.css';
@import '@/assets/css/webkit.css';

* {
  box-sizing: content-box;
}

body {
  @apply 
    font-main
    bg-base-background
}

a {
  @apply text-secondary-color;
}

.dark {
  color-scheme: dark;
}
